<h1>The page where you can create a NEW MEAL</h1>

<%= simple_form_for @meal do |f| %>
  <%= f.input :title %>
  <%= f.input :description, as: :text %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.input :quantity %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <%= f.button :submit %>
<% end %>
